@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:hover {
    text-shadow: 1px 2px #0EB36D;
    cursor: pointer;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

body {
    background-color: tomato;
    font-family: sans-serif;
}

.container {
    margin-top: 3em;
}

.top {
    font-size: 17px;
    top: 0.5em;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
}

.top__bar {
    list-style: none;
    display: flex;
}

.top__item {
    margin-right: 10vw;
}

.top__item--last {
    margin-right: 0;
}

/*Skill Cards*/

@media (max-width: 1000px) {
    .description {
        display: none;
    }
}

.skills {
    position: fixed;
    width: 70%;
    height: 500px;
    overflow: auto;
    border: solid 2px;
    left: 15vw;
}

.card {
    overflow: hidden;
    float: left;
    height: 16.1vw;
    width: 23%;
    margin: 1em 1%;
    padding: 0.3em;
    border-style: solid;
}

.card .title {
    font-weight: bold;
}
.card .description {
    font-size: 0.9em;
}

.tags {
    font-size: 0.7em;
}