@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:hover {
    text-shadow: 1px 2px #0EB36D;
    cursor: pointer;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

body {
    background-color: tomato;
    font-family: sans-serif;
}

.container {
    margin-top: 3em;
    margin-left: 3em;
}

.top {
    font-size: 1.2em;
    top: 0.5em;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
}

.top__bar {
    list-style: none;
    display: flex;
}

.top__item {
    margin-right: 10vw;
}

.top__item--last {
    margin-right: 0;
}

/*Skill Cards*/

@media (max-width: 1000px) {
    .description {
        display: none;
    }
}

p {
    margin: 20px;
    text-align: justify;
    width: 70%;
}

.hard {
    width: 80%;
    height: 250px;
    overflow: auto;
    left: 15vw;
}

.card {
    position: relative;
    overflow: hidden;
    float: left;
    height: 200px;
    width: 200px;
    margin: 0.5em 5px;
    padding: 0.3em;
    background-color: orangered;
}

.card .title {
    font-weight: bold;
}
.card .description {
    margin-top: 5%;
    font-size: 0.9em;
}

.tag {
    font-size: 0.7em;
    background-color: #0EB36D;
    border-radius: 20px;
    padding: 5px;
    margin: 1% 2px;
    float: left;
}

.level {
    margin-top: 5%;
    display: inline-block;
    background-color: #2e8b56;
    width: 15%;
    height: 2em;
    border-radius: 5px 0 5px 0;
    text-align: center;
}

.tags {
    position: absolute;
    bottom: 5px;
}