@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family: Roboto, sans-serif;
}

body {
    padding: 40px 40px 0px 40px;
}

header {
    height: 100px;
    display: flex;
    align-items: center;
}

.navbar_mobile {
    display: none;
    cursor: pointer;
}

.logo img {
    width: 80px;
}

a:hover {
    text-shadow: 1px 2px #0EB36D;
    cursor: pointer;
}

a {
    text-decoration: none;
    font-weight: bold;
}

.container {
    margin-left: 3em;
}

.nome {
    width: calc(100vw - 40px);
    height: calc(100vh - 140px);
    display: flex;
    align-items: center;
}

.nome h1 {
    font-family: IBM Plex Mono, monospace;
    font-size: 110px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/*THIS IS FOR TYPEWRITER EFFECT (CURSOR)*/
span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}
  
@keyframes caret {
    50% {
        border-color: transparent;
    }
}
/*THIS IS FOR TYPEWRITER EFFECT (CURSOR)*/

@media (max-width: 700px) {
    .nome h1 {
        font-size: 50px;
    }

    .navbar_mobile {
        display: block;
        position: fixed;
        right: 45px;
    }
  
    nav {
        display: none;
        position: fixed;
        height: 200px;
        width: 100px;
        top: 140px;
        right: 40px;
        flex-direction: column;
    }
  
}