body, html {
    height: 100%;
}

#conteudo {
    height: calc(100% - 70px);
    overflow: auto;
}

body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    margin-top: 40px;
    margin-left: 3em;
}

.nome {
    width: calc(100vw - 40px);
    height: calc(100vh - 140px);
    display: flex;
    align-items: center;
}

.nome h1 {
    font-family: IBM Plex Mono, monospace;
    font-size: 5.5rem;
}

/*THIS IS FOR TYPEWRITER EFFECT (CURSOR)*/
span {
    font-size: 5.5rem;
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}
  
@keyframes caret {
    50% {
        border-color: transparent;
    }
}
/*THIS IS FOR TYPEWRITER EFFECT (CURSOR)*/

@media (max-width: 700px) {
    .nome h1 {
        font-size: 50px;
    }  
}

* {
    background-color: #FFFDF2;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-size: 20px;
}

.website-header {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 26px;
    box-shadow: 0 6px 10px 0 rgba(44, 46, 57, 0.4);
    font-size: 36px;
    position: sticky;
}

.nav-wrapper {
    display: flex;
    gap: 26px;
}

.link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.nav-wrapper a {
    font-weight: 100;
    text-decoration: none;
    color: #000;
    align-content: center;
}

.nav-wrapper a:hover {
    font-weight: normal;
    font-style: italic;
}

.nav-wrapper a.selected {
    font-weight: 700;
}

.navbar_mobile {
    display: none;
    cursor: pointer;
}