@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 20px;
}

body {
    padding: 40px 40px 0px 40px;
}

.container {
    margin-left: 3em;
}

.nome {
    width: calc(100vw - 40px);
    height: calc(100vh - 140px);
    display: flex;
    align-items: center;
}

.nome h1 {
    font-family: IBM Plex Mono, monospace;
    font-size: 5.5rem;
}

/*THIS IS FOR TYPEWRITER EFFECT (CURSOR)*/
span {
    font-size: 5.5rem;
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}
  
@keyframes caret {
    50% {
        border-color: transparent;
    }
}
/*THIS IS FOR TYPEWRITER EFFECT (CURSOR)*/

@media (max-width: 700px) {
    .nome h1 {
        font-size: 50px;
    }  
}