@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

.nome {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    display: flex;
}

.nome h1 {
    font-family: IBM Plex Mono, monospace;
    font-size: 110px;
  }

/*THIS IS FOR TYPEWRITER EFFECT (CURSOR)*/
span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}
  
@keyframes caret {
    50% {
        border-color: transparent;
    }
}
/*THIS IS FOR TYPEWRITER EFFECT (CURSOR)*/