@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.top {
    font-size: 17px;
    top: 0.5em;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
}

.top__bar {
    list-style: none;
    display: flex;
}

.top__item {
    margin-right: 10vw;
}

.top__item--last {
    margin-right: 0;
}