@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

link:hover {
    text-shadow: 1px 2px #0EB36D;
    cursor: pointer;
}

link {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a:hover {
    text-shadow: 1px 2px #0EB36D;
    cursor: pointer;
}

body {
    min-height: 100vh;
    width: 100vw;
    position: relative;
    background-color: tomato;
    display: flex;
    align-items: center;
    font-family: sans-serif;
}

.top {
    font-size: 17px;
    position: fixed;
    top: 0.5em;
    width: 100vw;
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
}

.top__bar {
    list-style: none;
    display: flex;
}

.top__item {
    margin-right: 10vw;
}

.top__item--last {
    margin-right: 0;
}