a:hover {
    text-shadow: 1px 2px #0EB36D;
    cursor: pointer;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

body {
    background-color: tomato;
    font-family: sans-serif;
}

.container {
    margin-top: 3em;
}